{% layout 'layout.liquid' %} {% block content %}
<div class="container">
    <article>
        <!-- <form action="/athletes/{{athlete._id}}?_method=PUT" method="POST"> -->
        <form action="/workouts" method="POST">
            <fieldset>
                <legend>Test Your Strength!</legend>
                <label>
                    Max Finger Strength:<input type="number" min="0" max="10" name="maxFinger" placeholder="Points scored" />
                </label>
                <label>
                    Max Pull-up:<input type="number" min="0" max="10" name="maxPullup" placeholder="Points scored" />
                </label>
                <label>
                    Core:<input type="number" min="0" max="10" name="core" placeholder="Points scored" />
                </label>
                <label>
                    Endurance:<input type="number" min="0" max="10" name="endurance" placeholder="Points scored"/>
                </label>
            </fieldset>
            <input type="submit" value="Find My Climbing Grade" />
        </form>
    </article>
</div>
{% endblock %}