{% layout 'layout.liquid' %} {% block content %}
<div class="container">
    <article>
        <h1>Test Your Strength!</h1>
        <form action="/athletes/{{athlete._id}}" method="POST">
        <!-- <form class action="/workouts" method="POST"> -->
            <fieldset class="mb-3">
                <label class="form-label row">
                    Max Finger Strength:
                    <input class="form-control"
                    type="number" 
                    min="0" 
                    max="10" 
                    name="maxFinger" 
                    placeholder="Points scored" 
                    />
                </label>
                <label class="form-label row">
                    Max Pull-up:
                    <input class="form-control"
                    type="number" 
                    min="0" 
                    max="10" 
                    name="maxPullup" 
                    placeholder="Points scored" 
                    />
                </label>
                <label class="form-label row">
                    Core:
                    <input class="form-control"
                    type="number" 
                    min="0" 
                    max="10" 
                    name="core" 
                    placeholder="Points scored" 
                    />
                </label>
                <label class="form-label row">
                    Endurance:
                    <input class="form-control"
                    type="number" 
                    min="0" 
                    max="10" 
                    name="endurance" 
                    placeholder="Points scored"/>
                </label>
            </fieldset>
            <input class="btn btn-default" type="submit" value="Record Workout" />
        </form>
    </article>
</div>
{% endblock %}