@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Tiro+Telugu&display=swap');

:root {
    --indigo: #133c55;
    --gray: #e9ebe7;
    --flame: #e4572e;
    --ebony: #646f58;
    --blue: #00a6ed;
}

#layout-nav {
    font-family: 'Cairo', sans-serif;
    background-color: var(--indigo);
    width: 100%;
    padding: 10px;
    margin: 0;
}

#layout-nav h1 {
    color: var(--gray);
    font-size: 2em;
    margin: 10px;
}

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.1em;
    background-color: var(--gray);
    color: var(--ebony);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Tiro Telugu', serif;
    margin: 30px auto 20px;
    color: var(--indigo);
    font-size: 3em;
}

.directions-container {
    text-align: left;
    margin: 10px 30px;
    width: 80vw;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    background-color: var(--blue);
    width: 90vw;
    overflow-x: auto;
}

/*  COLORS */
#layout-nav a {
    color: var(--flame);
    font-weight: bold;
}

.blue {
    color: var(--indigo);
    font-weight: bold;
}

h4 {
    color: var(--blue);
}

.table-head {
    background-color: var(--indigo);
    color: var(--gray);
}

a, .btn, .btn-default {
    color: var(--flame);
    font-weight: bold;
}

td {
    color: var(--gray);
}

.form-control {
    background-color: var(--blue);
    padding: 20px;
    color: var(--gray);
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}
input {
    background-color: var(--gray);
    color: var(--ebony);
    align-self: right;
}
label {
    padding: 40px 0;
}