{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/users/createUser" method="POST">
    <fieldset>
      <legend>New User</legend>
      <label>USERNAME: <input type="text" name="username" required /> </label>
      <label
        >PASSWORD: <input type="password" name="password" required />
      </label>
      <!-- <label>
        WHAT GYM DO YOU COACH AT?: <input type="text" name="gym" />
      </label> -->
      <input type="submit" value="Create Account" />
    </fieldset>
  </form>
</div>
{% endblock %}
