{% layout "layout.liquid" %} {% block content %}

<h1>Hello, {{user.firstName}} {{user.lastName}}</h1>

<div class="directions-container">
    <section>
        <p>Are you a climbing coach or personal trainer who's constantly asked by your athletes, "What grade do you
            think I am strong enough to climb?"
            Welcome to <span class="blue">COACHES CORNER</span>, a quick and easy way to score your athletes in 4
            different benchmarks, which converts the total score of the benchmarks into a
            climbing grade.
        </p>
    </section>
    <section>
        <h4>Directions:</h4>
        <p>Add a new athlete that you want to test through the <span class="blue">My Athletes</span> link</p>
        <p>Click on <span class="blue">Add a New Climber</span> and fill out your athlete's information</p>
        <p>You will now be able to click on their name and add a new workout for them</p>
    </section>
</div>

{% endblock %}