{% layout "layout.liquid" %} {% block content %}

<h1>Hello, Coach {{user.firstName}} {{user.lastName}}</h1>

<div class="directions-container">
    <section>
        <p>Are you a climbing coach or personal trainer who's constantly asked by your athletes, "What grade do you
            think I'm strong enough to climb?"</p>
            
            <p>Welcome to <span class="blue">COACHES CORNER</span>, a quick and easy way to score your athletes in 4
            different benchmarks, which converts the total score of the benchmarks into a
            climbing grade. </p>
    </section>
    <section>
        <h4>Directions</h4>
        <p>Add a new athlete that you want to test through the <span class="blue">My Athletes</span> link</p>
        <p>Click on <span class="blue">Add a New Climber</span> and fill out your athlete's information</p>
        <p>You will now be able to click on their name and add a new workout for them</p>
    </section>
    <section>
        <h4>How The Tests Work</h4>
        <p>
            <span class="blue">The maximum score you can get is 40 points</span>, while the test itself is broken into four sections: </p>
        <ul>
            <li>Max Finger Strength : <span class="blue">10 points available</span></li>
            <li>Max Pull-up : <span class="blue">10 points available</span></li>
            <li>Core Strength : <span class="blue">10 points available</span></li>
            <li>Endurance : <span class="blue">10 points available</span></li>
        </ul>  
    </section>
    <section>
        <h4>Max Finger Strength</h4>
        <p><span class="blue">For this test, the goal is to hang for approximately five seconds on a 20-millimeter edge.</span></p>
        <p>The score breakdown is as follows:</p>
        <ul>
            <li><span class="blue">1 point</span> = 100% bodyweight</li>
            <li><span class="blue">2 points</span> = 110% bodyweight</li>
            <li><span class="blue">3 points</span> = 120% bodyweight</li>
            <li><span class="blue">4 points</span> = 130% bodyweight</li>
            <li><span class="blue">5 points</span> = 140% bodyweight</li>
            <li><span class="blue">6 points</span> = 150% bodyweight</li>
            <li><span class="blue">7 points</span> = 160% bodyweight</li>
            <li><span class="blue">8 points</span> = 180% bodyweight</li>
            <li><span class="blue">9 points</span> = 200% bodyweight</li>
            <li><span class="blue">10 points</span> = 220% bodyweight</li>
        </ul>
    </section>
    <section>
        <h4>Max Pull-up:</h4>
        <p><span class="blue">This test is to be completed on a bar. No kipping is allowed, and the form is intended to be near-perfect.</span></p>
        <p>The score breakdown is as follows:</p>

    </section>
    <ul>
        <li><span class="blue">1 point</span>= 100% = bodyweight</li>
        <li><span class="blue">2 points</span>= 110% = bodyweight</li>
        <li><span class="blue">3 points</span>= 120% = bodyweight</li>
        <li><span class="blue">4 points</span>= 130% = bodyweight</li>
        <li><span class="blue">5 points</span>= 140% = bodyweight</li>
        <li><span class="blue">6 points</span>= 150% = bodyweight</li>
        <li><span class="blue">7 points</span>= 160% = bodyweight</li>
        <li><span class="blue">8 points</span>= 180% = bodyweight</li>
        <li><span class="blue">9 points</span>= 200% = bodyweight</li>
        <li><span class="blue">10 points</span>= 220% = bodyweight</li>
    </ul>
    <section>
        <h4>Core Strength</h4>
        <p><span class="blue">For this test, the score breaks down by exercise.</span></p>
        <p>There are three core exercises that an athlete may choose from: </p>
        <ul>
            <li>L-sit (with knees bent) for 1-3 points</li>
            <li>L-sit (legs straight) for 4-6 points</li>
            <li>Front lever (perfect form) for 7-10 points</li>
        </ul>
        <p>The scoring is as follows</p>
        <ul>
            <span class="blue">L-sit (knees bent):</span>
            <li><span class="blue">1 point</span>= 10 seconds</li>
            <li><span class="blue">2 points</span>= 20 seconds</li>
            <li><span class="blue">3 points</span>= 30 seconds</li>
            <span class="blue">L-sit (legs extended):</span>
            <li><span class="blue">4 points</span>= 10 seconds</li>
            <li><span class="blue">5 points</span>= 15 seconds</li>
            <li><span class="blue">6 points</span>= 20 seconds</li>
            <span class="blue">Front Lever:</span>
            <li><span class="blue">7 points</span>= 5 seconds</li>
            <li><span class="blue">8 points</span>= 10 seconds</li>
            <li><span class="blue">9 points</span>= 20 seconds</li>
            <li><span class="blue">10 points</span>= 30 seconds</li>
        </ul>

    </section>
    <section>
        <h4>Endurance</h4>
        <p><span class="blue">Hang from the bar for as long as possible. Both hands must remain on the bar.</span></p>
        <p>The scoring is as follows:</p>
        <ul>
            <li><span class="blue">1 point</span>= 30 seconds</li>
            <li><span class="blue">2 points</span>= 1 minute</li>
            <li><span class="blue">3 points</span>= 1.5 minutes</li>
            <li><span class="blue">4 points</span>= 2 minutes</li>
            <li><span class="blue">5 points</span>= 2.5 minutes</li>
            <li><span class="blue">6 points</span>= 3 minutes</li>
            <li><span class="blue">7 points</span>= 3.5 minutes</li>
            <li><span class="blue">8 points</span>= 4 minutes</li>
            <li><span class="blue">9 points</span>= 5 minutes</li>
            <li><span class="blue">10 points</span>= 6 minutes</li>
        </ul>
    </section>
</div>

{% endblock %}