{% layout "layout.liquid" %} {% block content %}

<h1>Hello, {{user.firstName}} {{user.lastName}}</h1>

<div class="directions-container">
    <section>
        <p>Are you a climbing coach or personal trainer who's constantly asked by your athletes, "What grade do you
            think I am strong enough to climb?"
            Welcome to <span class="blue">COACHES CORNER</span>, a quick and easy way to score your athletes in 4
            different benchmarks, which converts the total score of the benchmarks into a
            climbing grade.
        </p>
    </section>
    <section>
        <h4>Directions:</h4>
        <p>Add a new athlete that you want to test through the <span class="blue">My Athletes</span> link</p>
        <p>Click on <span class="blue">Add a New Climber</span> and fill out your athlete's information</p>
        <p>You will now be able to click on their name and add a new workout for them</p>
    </section>
    <section>
        <h4>How The Tests Work:</h4>
        <p>
            The maximum score you can get is 40 points, while the test itself is broken into four sections:
            
            Max Finger Strength : 10 points available
            Max Pull-Up : 10 points available
            Core Strength : 10 points available
            Endurance : 10 points available
            Max Finger Strength:
            For this test, the goal is to hang for approximately five seconds on a 20-millimetre edge.
            
            The score breakdown is as follows:
            
            1 point = 100% = bodyweight, or zero additional weight
            2 points = 110%
            if a climber weighs 200 pounds, they would add on 20 pounds of weight
            3 points = 120%
            4 points = 130%
            5 points = 140%
            6 points = 150%
            7 points = 160%
            8 points = 180%
            9 points = 200%
            10 points = 220%
            Max Pull-Up:
            This test is to be completed on a bar. No kipping is allowed, and the form is intended to be near-perfect.
            
            1 point = 100% = bodyweight, or zero additional weight
            2 points = 110%
            3 points = 120%
            4 points = 130%
            5 points = 140%
            6 points = 150%
            7 points = 160%
            8 points = 180%
            9 points = 200%
            10 points = 220%
            Core Strength
            For this test, the score breaks down by exercise. There are three core exercises that an athlete may choose from: L-sit (with knees bent) for 1-3 points, L-sit (legs straight) for 4-6 points, and front lever (perfect form) for 7-10 points. These scores do not add together, but are progressive. This is to say that if you get 3 points with the L-sit in a knees bent format, and 6 points from L-sit with legs extended, your score would ultimately amount to 6 points as opposed to 9 points. The scoring is as follows:
            
            L-sit (knees bent)
            1 point = 10 seconds
            2 points = 20 seconds
            3 points = 30 seconds
            L-sit (legs extended)
            4 points = 10 seconds
            5 points = 15 seconds
            6 points = 20 seconds
            Front Lever
            7 points = 5 seconds
            8 points =10 seconds
            9 points = 20 seconds
            10 points = 30 seconds
            Endurance:
            This test requires a bar. Hang from the bar for as long as possible. No shaking allowed. Both hands must remain on the bar. The scoring is as follows:
            
            1 point = 30 seconds
            2 points = 1 minute
            3 points = 1.5 minutes
            4 points = 2 minutes
            5 points = 2.5 minutes
            6 points = 3 minutes
            7 points = 3.5 minutes
            8 points = 4 minutes
            9 points = 5 minutes
            10 points = 6 minutes
            Your Theoretical Maximum
            After you have completed each of your tests, add your scores together!</p>
    </section>
</div>

{% endblock %}