{% layout "layout.liquid" %} {% block content %}

<h1>Hello, {{user.firstName}} {{user.lastName}}</h1>

<div class="directions-container">
    <p>Are you a climbing coach or personal trainer who's constantly asked by your athletes, "What grade do you think I am strong enough to climb?"
        Welcome to <span class="blue">COACHES CORNER</span>, a quick and easy way to score your athletes in 4 different benchmarks, which converts the total score of the benchmarks into a 
        climbing grade.
    </p>
</div>

{% endblock %}