{% layout "layout.liquid" %}
{% block content %}
      <div>
        <form action="/users/login" method="POST">
          <fieldset>
            <h1>User Login</h1>
            <label class="form-control">
              USERNAME: <input type="text" name="username" required />
            </label>
            <label class="form-control">
              PASSWORD: <input type="password" name="password" required />
            </label>
            <input class ="btn btn-default" type="submit" value="Login" />
          </fieldset>
        </form>
      </div>
      <div>
        <h3>Not Registered Yet? </h3><a class="btn btn-default" href="/users/createUser">Register Here</a>
      </div>
{% endblock %}