{% layout "layout.liquid" %}
{% block content %}
      <div>
        <form action="/users/login" method="POST">
          <fieldset>
            <legend>User Login</legend>
            <label>
              USERNAME: <input type="text" name="username" required />
            </label>
            <label>
              PASSWORD: <input type="password" name="password" required />
            </label>
            <input type="submit" value="Login" />
          </fieldset>
        </form>
      </div>
      <div>
        <h3>Not Registered Yet? </h3><a class="btn btn-default" href="/users/createUser">Register Here</a>
      </div>
{% endblock %}