{% layout "layout.liquid" %} {% block content %}
<a href="/athletes/new">Add New Climber</a>
    <h1>Athletes Index Route</h1>

    <table>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Current Climbing Grade </th>
            <th>See Workouts</th>
        </tr>
        {% for athlete in athletes %}
        <tr>
            <td>{{ athlete.firstName }}</td>
            <td>{{ athlete.lastName }} </td>
            <td>*** Climbing Grade ***</td>
            <td><a href="/athletes/{{ athlete._id }}">More info</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}