{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/athletes" method="POST">
    <fieldset>
      <legend>New Athlete</legend>
      <label class="form-control">
        First Name: <input type="text" name="firstName" required /> 
      </label>
      <label class="form-control">
        Last Name: <input type="text" name="lastName" required />
      </label>
      <label class="form-control">
        Birthday: <input type="date" max="2020-01-01" name="birthday" required />
      </label>
      <input type="submit" value="Create Athlete" />
    </fieldset>
  </form>
</div>
{% endblock %}