{% layout "layout.liquid" %} {% block content %}
    <h1> {{athlete.firstName }}</h1>
    <h2>workouts: {{ athlete.workouts }}</h2>
    <a href="/athletes/{{athlete._id}}/addWorkout">Add a new workout</a>
{% endblock %}